In [1]:
#import all libraries
import numpy as np
import pandas as pd

In [147]:
import unittest

In [16]:
pd.options.display.max_columns = 100

In [6]:
ideal_df = pd.read_csv("ideal.csv")
test_df = pd.read_csv("test.csv")
train_df = pd.read_csv("train.csv")

In [91]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       400 non-null    float64
 1   y1      400 non-null    float64
 2   y2      400 non-null    float64
 3   y3      400 non-null    float64
 4   y4      400 non-null    float64
dtypes: float64(5)
memory usage: 15.8 KB

In [7]:
print(train_df.shape)
print(ideal_df.shape)
print(test_df.shape)

(400, 5)
(400, 51)
(100, 2)

In [8]:
train_df.head()

      x         y1         y2         y3         y4
0 -20.0 -45.153633  20.477406  12.519363  17.865404
1 -19.9 -44.858116  19.856500  13.149199  17.747356
2 -19.8 -44.703747  19.486988  12.870700  16.018097
3 -19.7 -44.581840  19.352985  13.205771  14.654278
4 -19.6 -43.748604  19.588486  12.845135  13.845911

In [9]:
test_df.head()

      x          y
0   0.7   0.509371
1  17.5 -17.841387
2 -10.2   7.822483
3  17.8  -5.292580
4 -17.1  16.841566

In [10]:
ideal_df.head(2)

,x,y1,y2,y3,y4,y5,y6,y7,y8,y9,...,y41,y42,y43,y44,y45,y46,y47,y48,y49,y50
0,-20.0,-0.912945,0.408082,9.087055,5.408082,-9.087055,0.912945,-0.839071,-0.850919,0.816164,...,-40.456474,40.20404,2.995732,-0.008333,12.995732,5.298317,-5.298317,-0.186278,0.912945,0.396850
1,-19.9,-0.867644,0.497186,9.132356,5.497186,-9.132356,0.867644,-0.865213,0.168518,0.994372,...,-40.233820,40.04859,2.990720,-0.008340,12.990720,5.293305,-5.293305,-0.215690,0.867644,0.476954

In [11]:
#pd.options.display.max_columns=6

In [12]:
def rmse(predictions, labels):
    error = (np.sum(np.square(predictions-labels)))/len(predictions)
    return error

In [13]:
type(np.array(list(train_df.y1)))

numpy.ndarray

In [14]:
rmse_error = rmse(np.array(list(train_df.y1)), np.array(list(ideal_df.y11)))
rmse_error

159.17670596737275

In [15]:
ideal_df.columns

Index(['x', 'y1', 'y2', 'y3', 'y4', 'y5', 'y6', 'y7', 'y8', 'y9', 'y10', 'y11',
       'y12', 'y13', 'y14', 'y15', 'y16', 'y17', 'y18', 'y19', 'y20', 'y21',
       'y22', 'y23', 'y24', 'y25', 'y26', 'y27', 'y28', 'y29', 'y30', 'y31',
       'y32', 'y33', 'y34', 'y35', 'y36', 'y37', 'y38', 'y39', 'y40', 'y41',
       'y42', 'y43', 'y44', 'y45', 'y46', 'y47', 'y48', 'y49', 'y50'],
      dtype='object')

In [34]:
#list(ideal_df.columns)[1: ]

In [40]:
error_list = []
for column in list(ideal_df.columns)[1:]:
    prediction = np.array(list(train_df.y1))
    label =  np.array(list(ideal_df[column]))
    rmse_error = rmse(prediction, label)
    label_error_tuple = column, rmse_error
    error_list.append(label_error_tuple)

In [44]:
#error_list

In [17]:
# Python program to sort a list of
# tuples by the second Item using sorted()
 
# Function to sort the list by second item of tuple
def sort_Tuple(tup):
 
    # reverse = None (Sorts in Ascending order)
    # key is set to sort using second element of
    # sublist lambda has been used
    return(sorted(tup, key = lambda x: x[1]))

### Doctring Example

In [18]:
def sort_Tuple(tup):
    '''
        Function to sort the list by second item of tuple.
        This Python program to sort a list of tuples by the second Item using sorted().
        Here reverse = None (Sorts in Ascending order)
        ,key is set to sort using second element of
        , sublist lambda has been used.
        
     '''
    return(sorted(tup, key = lambda x: x[1]))

In [47]:
error_list = []
for column in list(ideal_df.columns)[1:]:
    prediction = np.array(list(train_df.y1))
    label =  np.array(list(ideal_df[column]))
    rmse_error = rmse(prediction, label)
    label_error_tuple = column, rmse_error
    error_list.append(label_error_tuple)
    
error_list_sorted = sort_Tuple(error_list)
error_list_sorted[0:6]

[('y13', 0.08288858793275562),
 ('y41', 25.2894650489566),
 ('y11', 159.17670596737275),
 ('y12', 181.66276496489274),
 ('y47', 537.5923405209278),
 ('y5', 556.6847011548609)]

In [48]:
error_list_sorted[0]

('y13', 0.08288858793275562)

In [24]:
def lowest_rmse_label(train_feature, data):
    error_list = []
    for i in list(data.columns[1:]):
        prediction = np.array(list(data[i]))
        label = np.array(list(train_df[train_feature]))
        error = rmse(prediction, label)
        label_error_tuple= i, round(error, 2)
        error_list.append(label_error_tuple)

    error_list_sorted = sort_Tuple(error_list)
    return error_list_sorted[0]

In [25]:
best_label_tuple = lowest_rmse_label('y1', ideal_df)
best_label_tuple

('y13', 0.08)

In [26]:
list(train_df.columns)[1:]

['y1', 'y2', 'y3', 'y4']

In [27]:
best_label_list = []
for train_col in list(train_df.columns)[1:]:
    best_label = lowest_rmse_label(train_col,ideal_df)
    best_label_list.append(best_label)

In [28]:
best_label_list

[('y13', 0.08), ('y31', 0.08), ('y15', 0.09), ('y10', 0.08)]

In [29]:
best_label_tuple = lowest_rmse_label('y4', ideal_df)
best_label_tuple

('y10', 0.08)

In [55]:
def best_label_mapping(train_data, ideal_data):
    best_label_list = []
    for train_col in list(train_df.columns)[1:]:
        best_label = lowest_rmse_label(train_col,ideal_df)
        best_label_list.append(best_label)
    return best_label_list

In [56]:
error_mapping_list = best_label_mapping(train_df, ideal_df)
error_mapping_list

[('y13', 0.08288858793275562),
 ('y31', 0.07708626158646625),
 ('y15', 0.08669947695229224),
 ('y10', 0.08252947379732647)]



* define a function to capture best function of train data feature from ideal data
* pass the parametrs : trian_feature and the ideal data
* a for loop to capture rmse between the traiun_feature and all the features in ideal_df
* sort the values by lowest rmse
* return the lowest function from ideal data and its corresponding rmse

* repeat the below process for each 'y' variable in train data:

    define a function to capture best function of train data feature from ideal data
    pass the parametrs : trian_feature and the ideal data
    a for loop to capture rmse between the traiun_feature and all the features in ideal_df
    sort the values by lowest rmse
    return the lowest function from ideal data and its corresponding rmse

In [60]:
def best_label_mapping(train_data, ideal_data):
    best_label_list = []
    for train_col in list(train_df.columns)[1:]:
        best_label = lowest_rmse_label(train_col,ideal_df)
        feat_dict = {}
        new_key = train_col
        new_value = best_label
        feat_dict[new_key] = new_value
        best_label_list.append(feat_dict)
    return best_label_list

In [61]:
error_mapping_list = best_label_mapping(train_df, ideal_df)
error_mapping_list

[{'y1': ('y13', 0.08288858793275562)},
 {'y2': ('y31', 0.07708626158646625)},
 {'y3': ('y15', 0.08669947695229224)},
 {'y4': ('y10', 0.08252947379732647)}]

In [62]:
error_mapping_list[0]

{'y1': ('y13', 0.08288858793275562)}

In [74]:
def best_label_mapping(train_data, ideal_data):
    best_label_list = []
    for train_col in list(train_df.columns)[1:]:
        best_label = lowest_rmse_label(train_col,ideal_df)
        best_label_list.append(best_label)
    col_list = list(train_df.columns)[1:]
    
    return dict((zip(col_list,best_label_list )))

In [75]:
error_mapping_dict= best_label_mapping(train_df, ideal_df)
error_mapping_dict

{'y1': ('y13', 0.08288858793275562),
 'y2': ('y31', 0.07708626158646625),
 'y3': ('y15', 0.08669947695229224),
 'y4': ('y10', 0.08252947379732647)}

In [72]:
error_mapping_dict = dict(error_mapping_list)
error_mapping_dict

{'y1': ('y13', 0.08288858793275562),
 'y2': ('y31', 0.07708626158646625),
 'y3': ('y15', 0.08669947695229224),
 'y4': ('y10', 0.08252947379732647)}

In [73]:
error_mapping_dict['y2']

('y31', 0.07708626158646625)

In [70]:
error_mapping_dict = dict(error_mapping_list)
error_mapping_dict

{}

In [77]:
train_df.shape[0]

400

In [78]:
len(train_df)

400

In [84]:
train_df.iloc[0:, 0:1]

        x
0   -20.0
1   -19.9
2   -19.8
3   -19.7
4   -19.6
..    ...
395  19.5
396  19.6
397  19.7
398  19.8
399  19.9

[400 rows x 1 columns]

In [82]:
train_df.iloc[0:, 0:1]

        x
0   -20.0
1   -19.9
2   -19.8
3   -19.7
4   -19.6
..    ...
395  19.5
396  19.6
397  19.7
398  19.8
399  19.9

[400 rows x 1 columns]

## Writing a class to find beset label mapping

In [85]:
class Select_best_features:
    def __init__(self, train_data, ideal_data):
        self.train_length = train_data.shape[0]
        self.ideal_length = ideal_data.shape[0]
        self.train_target_feat = list(train_data.columns[1:])
        self.ideal_target_feat = list(ideal_data.columns[1:])
        self.ideal_target_data = ideal_df.iloc[0:,1:]
        self.train_target_data = train_df.iloc[0:, 1:]
        self.ideal_feat_pred = ideal_df.iloc[0:, 0:1]
        self.train_feat_pred = train_df.iloc[0:, 0:1]

In [86]:
best_features = Select_best_features(train_df, ideal_df)
best_features

In [89]:
best_features.train_target_feat

['y1', 'y2', 'y3', 'y4']

In [91]:
#best_features.ideal_target_feat

In [97]:
class Select_best_features:
    def __init__(self, train_data, ideal_data):
        self.train_length = train_data.shape[0]
        self.ideal_length = ideal_data.shape[0]
        self.train_target_feat = list(train_data.columns[1:])
        self.ideal_target_feat = list(ideal_data.columns[1:])
        self.ideal_target_data = ideal_df.iloc[0:,1:]
        self.train_target_data = train_df.iloc[0:, 1:]
        self.ideal_feat_pred = ideal_df.iloc[0:, 0:1]
        self.train_feat_pred = train_df.iloc[0:, 0:1]
        
    def lowest_rmse_label(self, train_feature):
        error_list = []
        for i in self.ideal_target_feat:
            prediction = np.array(list(self.ideal_target_data[i]))
            label = np.array(list(self.train_target_data[train_feature]))
            error = rmse(prediction, label)
            label_error_tuple= i, error
            error_list.append(label_error_tuple)

        error_list_sorted = sort_Tuple(error_list)
        return error_list_sorted[0]

In [ ]:
def lowest_rmse_label(train_feature, data):
    error_list = []
    for i in list(data.columns[1:]):
        prediction = np.array(list(data[i]))
        label = np.array(list(train_df[train_feature]))
        error = rmse(prediction, label)
        label_error_tuple= i, error
        error_list.append(label_error_tuple)

    error_list_sorted = sort_Tuple(error_list)
    return error_list_sorted[0]

In [98]:
best_features = Select_best_features(train_df, ideal_df)
best_features.train_target_feat

['y1', 'y2', 'y3', 'y4']

In [99]:
best_features.lowest_rmse_label('y1')

('y13', 0.08288858793275562)

In [100]:
best_features.lowest_rmse_label('y2')

('y31', 0.07708626158646625)

In [33]:
class Select_best_features:
    def __init__(self, train_data, ideal_data):
        self.train_length = train_data.shape[0]
        self.ideal_length = ideal_data.shape[0]
        self.train_target_feat = list(train_data.columns[1:])
        self.ideal_target_feat = list(ideal_data.columns[1:])
        self.ideal_target_data = ideal_df.iloc[0:,1:]
        self.train_target_data = train_df.iloc[0:, 1:]
        self.ideal_feat_pred = ideal_df.iloc[0:, 0:1]
        self.train_feat_pred = train_df.iloc[0:, 0:1]
        
    def lowest_rmse_label(self, train_feature):
        error_list = []
        for i in self.ideal_target_feat:
            prediction = np.array(list(self.ideal_target_data[i]))
            label = np.array(list(self.train_target_data[train_feature]))
            error = rmse(prediction, label)
            label_error_tuple= i, round(error, 3)
            error_list.append(label_error_tuple)

        error_list_sorted = sort_Tuple(error_list)
        return error_list_sorted[0]
    
    def lowest_rmse_all_labels(self):
        best_label_list = []
        for train_col in self.train_target_feat:
            best_label = self.lowest_rmse_label(train_col)
            best_label_list.append(best_label)
        col_list = self.train_target_feat
    
        return dict((zip(col_list,best_label_list )))

In [34]:
 new_class_object = Select_best_features(train_df, ideal_df)

In [35]:
new_class_object.train_target_feat

['y1', 'y2', 'y3', 'y4']

In [36]:
new_class_object.lowest_rmse_label('y3')

('y15', 0.087)

In [37]:
new_class_object.lowest_rmse_all_labels()

{'y1': ('y13', 0.083),
 'y2': ('y31', 0.077),
 'y3': ('y15', 0.087),
 'y4': ('y10', 0.083)}

In [83]:
def maxdev(predictions, labels):
    maxdev = np.max(np.abs((predictions-labels)))
    return maxdev

In [144]:
maxdev(np.array(list(train_df.y3)),np.array(list(ideal_df.y15)))

0.4975619999999985

In [142]:
np.sqrt(2)

1.4142135623730951

In [145]:
max_dev_allowed = 0.497 + np.sqrt(2)
max_dev_allowed

1.9112135623730953

In [146]:
12.5-10.6

1.9000000000000004

## Inheritance

### Here, there are two similar classes: Rectangle and Square.

In [38]:
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

    def perimeter(self):
        return 2 * self.length + 2 * self.width

class Square:
    def __init__(self, length):
        self.length = length

    def area(self):
        return self.length * self.length

    def perimeter(self):
        return 4 * self.length

In [39]:
square = Square(4)
square.area()

16

In [40]:
rectangle = Rectangle(2,4)
rectangle.area()

8

* In the above example, you have two shapes that are related to each other: a square is a special kind of rectangle. The code, however, doesn’t reflect that relationship and thus has code that is essentially repeated.

* By using inheritance, you can reduce the amount of code you write while simultaneously reflecting the real-world relationship between rectangles and squares:

In [46]:
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

    def perimeter(self):
        return 2 * self.length + 2 * self.width

# Here we declare that the Square class inherits from the Rectangle class
class Square(Rectangle):
    def __init__(self, length):
        super().__init__(length, length)

In [47]:
square = Square(4)
square.area()

16

In [49]:
isinheritance(Rectangle, Square)

NameError: name 'isinheritance' is not defined

* In this example, Rectangle is the superclass, and Square is the subclass.

* Because the Square and Rectangle .__init__() methods are so similar, you can simply call the superclass’s .__init__() method (Rectangle.__init__()) from that of Square by using super(). This sets the .length and .width attributes even though you just had to supply a single length parameter to the Square constructor.

* When you run this, even though your Square class doesn’t explicitly implement it, the call to .area() will use the .area() method in the superclass and print 16. The Square class inherited .area() from the Rectangle class.

### What Can super() Do for You?

* So what can super() do for you in single inheritance?

* Like in other object-oriented languages, it allows you to call methods of the superclass in your subclass. The primary use case of this is to extend the functionality of the inherited method.

* In the example below, you will create a class Cube that inherits from Square and extends the functionality of .area() (inherited from the Rectangle class through Square) to calculate the surface area and volume of a Cube instance

In [50]:
class Square(Rectangle):
    def __init__(self, length):
        super().__init__(length, length)

class Cube(Square):
    def surface_area(self):
        face_area = super().area()
        return face_area * 6

    def volume(self):
        face_area = super().area()
        return face_area * self.length

* Now that you’ve built the classes, let’s look at the surface area and volume of a cube with a side length of 3:

In [51]:
cube = Cube(3)
cube.surface_area()

54

* Here you have implemented two methods for the Cube class: .surface_area() and .volume(). Both of these calculations rely on calculating the area of a single face, so rather than reimplementing the area calculation, you use super() to extend the area calculation.

* Also notice that the Cube class definition does not have an .__init__(). Because Cube inherits from Square and .__init__() doesn’t really do anything differently for Cube than it already does for Square, you can skip defining it, and the .__init__() of the superclass (Square) will be called automatically.

* super() returns a delegate object to a parent class, so you call the method you want directly on it: super().area().

* Not only does this save us from having to rewrite the area calculations, but it also allows us to change the internal .area() logic in a single location. This is especially in handy when you have a number of subclasses inheriting from one superclass.

In [56]:
class Select_best_features:
    def __init__(self, train_data, ideal_data):
        self.train_length = train_data.shape[0]
        self.ideal_length = ideal_data.shape[0]
        self.train_target_feat = list(train_data.columns[1:])
        self.ideal_target_feat = list(ideal_data.columns[1:])
        self.ideal_target_data = ideal_df.iloc[0:,1:]
        self.train_target_data = train_df.iloc[0:, 1:]
        self.ideal_feat_pred = ideal_df.iloc[0:, 0:1]
        self.train_feat_pred = train_df.iloc[0:, 0:1]
        
    def lowest_rmse_label(self, train_feature):
        error_list = []
        for i in self.ideal_target_feat:
            prediction = np.array(list(self.ideal_target_data[i]))
            label = np.array(list(self.train_target_data[train_feature]))
            error = rmse(prediction, label)
            label_error_tuple= i, round(error, 2)
            error_list.append(label_error_tuple)

        error_list_sorted = sort_Tuple(error_list)
        return error_list_sorted[0]
    
    def lowest_rmse_all_labels(self):
        best_label_list = []
        for train_col in self.train_target_feat:
            best_label = self.lowest_rmse_label(train_col)
            best_label_list.append(best_label)
        col_list = self.train_target_feat
    
        return dict((zip(col_list,best_label_list )))

In [73]:
class Test_cases(Select_best_features):
    def train_ideal_max_dev(self):
        train_ideal_func_dict = super().lowest_rmse_all_labels()
        #print(train_ideal_func_dict)
        #print(self.train_length)
        return train_ideal_func_dict

In [74]:
new_tc = Test_cases(train_df, ideal_df)
new_tc.train_ideal_max_dev()

{'y1': ('y13', 0.08),
 'y2': ('y31', 0.08),
 'y3': ('y15', 0.09),
 'y4': ('y10', 0.08)}

In [76]:
ideal_func_dict = new_tc.train_ideal_max_dev()
print(ideal_func_dict)

{'y1': ('y13', 0.08), 'y2': ('y31', 0.08), 'y3': ('y15', 0.09), 'y4': ('y10', 0.08)}

In [77]:
print(ideal_func_dict)

{'y1': ('y13', 0.08), 'y2': ('y31', 0.08), 'y3': ('y15', 0.09), 'y4': ('y10', 0.08)}

In [79]:
ideal_func_dict['y1'][0]

'y13'

In [85]:
class Test_cases(Select_best_features):
    def train_ideal_max_dev(self):
        train_ideal_func_dict = super().lowest_rmse_all_labels()
        max_dev_list = []
        for feature in  self.train_target_feat:
            #print(feature)
            ideal_feat = train_ideal_func_dict[feature][0]
            print(feature, ideal_feat)
            max_dev_ = maxdev(self.train_target_data[feature], self.ideal_target_data[ideal_feat])
            max_dev_list.append(max_dev_)
            print(max_dev_list, '\n')

In [86]:
tc = Test_cases(train_df, ideal_df)
tc.train_ideal_max_dev()

y1 y13
[0.4999699999999976]

y2 y31
[0.4999699999999976, 0.49812999999999974]

y3 y15
[0.4999699999999976, 0.49812999999999974, 0.4975619999999985]

y4 y10
[0.4999699999999976, 0.49812999999999974, 0.4975619999999985, 0.49966569999999955]

In [89]:
class Test_cases(Select_best_features):
    def train_ideal_max_dev(self):
        train_ideal_func_dict = super().lowest_rmse_all_labels()
        max_dev_list = []
        for feature in  self.train_target_feat:
            ideal_feat = train_ideal_func_dict[feature][0]
            max_dev_ = maxdev(self.train_target_data[feature], self.ideal_target_data[ideal_feat])
            max_dev_list.append(round(max_dev_, 3))
        return dict((zip(self.train_target_feat, max_dev_list )))

In [90]:
tc = Test_cases(train_df, ideal_df)
tc.train_ideal_max_dev()

{'y1': 0.5, 'y2': 0.498, 'y3': 0.498, 'y4': 0.5}

* The criterion for mapping the individual test case to the four ideal functions is that the existing maximum 
deviation of the calculated regression does not exceed the largest deviation between training dataset (A) and 
the ideal function (C) chosen for it by more than factor sqrt(2)

In [93]:
np.sqrt(2)+0.49

1.9042135623730951

In [ ]:
class test_cases(Select_best_features):
    def test_deviation(self, xvalue):
        for feature in  self.train_target_feat:
            feature + '_' + 'dict' = dict(((zip(self.train_feat_pred, self.train_target_data[feature])))
 
        return dict((zip(self.train_target_feat, max_dev_list )))